.more_views {
    font-family: 'Museo Sans Rounded 300';;
    text-transform: uppercase;
    color: #A39161 ;
    grid-area: 2 / 1 / 3 / 2;
}
.gallery_with_thumbnails {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px 1fr 1fr;
}
.bigPhoto {
    grid-area: 1/span 3;
    place-self: center;
}
.thumbnails { 
    display: flex;
    grid-area: 3 / 1 / 4 / 2; 
}
.thumbnail_one {
    width: 90px;
    height: 34px;
}
.thumbnail_to {
    width: 90px;
    height: 34px;
}
