.brandbox {
width: 100%;
    height: 100%;
display:grid;
grid-template-columns: auto 50%;
border: solid 2em white;

}
.brandbox__stock {
    background: linear-gradient(to right, black, #3a3732);

}
.brandbox-section__title {
    color: #a39161;
    margin-left: 1em;
    /* margin-top: 5em; */
    font-family: "Museo Sans Rounded 100"


}
.brandbox-section__image {
    /* width: 100%; */
    height: 100%;
    margin-left: 3em;
    font-size: .5em;
    object-fit: scale-down;
    object-position: 0;
    

}
.brandbox__text {
    background: linear-gradient(to right, rgb(31, 29, 29), #3a3732);

}
.brandbox__textheadline {
    font-weight: 100;
    color: #a39161;
    /* padding-bottom: 1.5em; */
    margin-left: 1em;
    text-transform: uppercase;
    font-family: "Museo Sans Rounded 300"
}

.brand-box__textundertitle {
    color: #a39161;
    margin-top: 5em;
    margin-left: .5em;
    text-transform: uppercase;
    font-family: "Museo Sans Rounded 300"
    ;

}
.textbox__text {
    color: #ffffff;
    margin-left: 1em;
}



