.descriptionbox__text {
    margin: 0;
    color: #a59169;
    text-transform: uppercase;
}
.decriptionbox__table {
    width: 25vw;
    height: 50vh;
    font-size: 1em;

}

.descriptionbox__tableheader {
    text-align: left;
    font-weight: normal;
}
.description__tabledata {
    text-align: right;
    font-weight: normal;
}
.textbox__text {
    line-height: 1.4;
    padding-bottom: 1em;


}