body {
    background-color: black;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.frontpageheaderblock {
    /* border: 2px solid red; */
    max-width: 60vw;
    margin: 0 auto;
    height: 60vh;
    margin-top: 2%;
    background-image: url(./img/pig.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;


    
    }
    .logo{
        font-family: 'Museo Sans Rounded 500';
        font-weight: 500;
        
    }
    
    .logo__largeText{
        max-width: 10vw;
        height: 20vh;
        text-transform: uppercase;
        font-size: 1vw;
        border: 1px solid #FFF;
        color: #FFF;
        /* padding-left: 3vw; */
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
    }
    
    .logo__largeText p:first-of-type{
        margin: 1;
        letter-spacing: 1vw;
    }
    
    .logo__largeText p:last-of-type{
        margin: 1;
        letter-spacing: 1vw;
    }
    
    .logo__websiteLink{
        text-transform: uppercase;
        max-width: 100%;
        font-size: 1vw;
        font-weight: 600;
        letter-spacing: 0.5vw;
        color: #FFF;
        margin: 0;
        padding-top: 1vw;
        text-align: center;
    }
    
