body {
    background-color: black;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.frontpageheaderblock {
    /* border: 2px solid red; */
    max-width: 60vw;
    margin: 0 auto;
    height: 60vh;
    margin-top: 2%;
    background-image: url(./img/pig.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;


    
    }
    
