.footer_frontpage_SoMe i {
    border: 1px white solid;
    border-radius: 50px;
    color: white;
    font-size: 0.7rem;
    margin-right: 0.1rem;
    padding: 4px;
}

.footer_frontpage {
    display: grid;
    grid-template-columns: 3fr auto 6fr 3fr 1.7fr;
    grid-template-rows: 1fr;
    grid-gap: 2px;
    background-color: #A39161;
    padding: 3vh 1.5vw;
}
.footer_frontpage_payment i {
    color: white;
    font-size: 1.1rem;
    margin-right: 2vh;
    
}
.footer_frontpage_address {
    grid-area: 1 / 1 / 2 / 2;
    font-family: 'Museo Sans Rounded 300';
    font-style: normal; /*default er italic på adress tag*/
    font-size: 0.6rem;
    font-weight: 700;
}
.footer_frontpage_refunds_privacy {
    grid-area: 1 / 2 / 2 / 3;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2px;
    font-size: 0.7rem;
    color: white;
    font-family: 'Museo Sans Rounded 300';

}
.footer_frontpage_refunds_privacy a{
    color: white;
}

.footer_frontpage_payment {
    grid-area: 1 / 4 / 2 / 5;
}
.footer_frontpage_SoMe {
    grid-area: 1 / 5 / 2 / 6; 
}
