.overviewSingleProduct{
    font-family: 'Museo Sans Rounded 500';
    font-weight: 500;
    max-width: 100%;
}

.overviewSingleProduct__heading,
.overviewSingleProduct__link,
.overviewSingleProduct__price{
    color: #A39161;
}

.overviewSingleProduct__heading{
    text-transform: uppercase;
    font-size: 1.2rem;
    margin: 0;
    padding-bottom: 1.5rem;
}

.overviewSingleProduct>div{
    display: grid;
    grid-template: auto / 1fr 1fr;
    padding-bottom: 2.5rem;
}

.overviewSingleProduct__link{
    text-decoration: none;
}

.overviewSingleProduct__price{
    font-family: 'Museo Sans Rounded 300';
    font-weight: 300;
    margin: 0;
    font-size: 1.3rem;
    justify-self: end;
}

.overviewSingleProduct__price--strike{
    text-decoration: line-through;
    color: #A0A0A0;
    font-size: 1rem;
    margin-right: 1rem;
}

.overviewSingleProduct__description{
    font-size: 0.9rem;
    line-height: 1.6rem;
    margin: 0;
    padding-bottom: 2.5rem;
}