.logo{
    font-family: 'Museo Sans Rounded 600';
    font-weight: 600;
}

.logo__largeText{
    max-width: 40vw;
    text-transform: uppercase;
    font-size: 1.7vw;
    border: 1.5px solid #FFF;
    color: #FFF;
    padding-bottom: 0.4vw;
    padding-left:0.7vw;
}

.logo__largeText p:first-of-type{
    margin: 0;
    padding-top: 4.7vw;
    letter-spacing: 0.7vw;
    line-height: 2vw;
}

.logo__largeText p:last-of-type{
    margin: 0;
    letter-spacing: 0.9vw;
}

.logo__websiteLink{
    text-transform: uppercase;
    max-width: 100%;
    font-size: 0.8vw;
    font-weight: 600;
    letter-spacing: 0.1vw;
    color: #FFF;
    margin: 0;
    padding-top: 0.6vw;
}