.call-us-bjaelke {
    background-color: #000;
    max-width: 100vw;
    display: grid;
    padding: 0;
    margin: 1rem 1rem;
}

.call-us-paragraph {
    color: #a39161;
    font-size: 2vw;
    text-transform: uppercase;
    place-self: center;
    padding: 0;
    margin: 0;
    font-family: 'Museo Sans Rounded 500';
    font-style: normal;
    font-weight: normal;
}

.fa-phone-alt {
    padding-right: 1vw;
    color: #000;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #a39161;
}