body {
  background: #000;
}

/* indset baggrund for at se logoet, med mindre du indsætter det i dit eget arbejde */

.logo {
  font-family: 'Museo Sans Rounded 500';
  font-weight: 600;
  padding: 1em;
}
.logo__largeText {
  max-width: 74px;
  /* vidden på firkanten */
  text-transform: uppercase;
  font-size: 20px;
  /* skriftstørrelsen på HIFI */
  border: 2px solid #FFF;
  color: #FFF;
  padding-bottom: 3px;
  /* padding under HIFI */
  padding-left: 3px;
  /* padding til venstre for HIFI */
  line-height: 31px;
}
.logo__largeText p:first-of-type {
  margin: 0;
  padding-top: 30px;
  /* højden på firkanten */
  letter-spacing: 0vw;
  /* hvor langt i'et er fra h'et */
  line-height: 1vw;
}
.logo__largeText p:last-of-type {
  margin: 0;
  letter-spacing: 4.6px;
  /* hvor langt i'et er fra f'et */
}
.logo__websiteLink {
  text-transform: uppercase;
  max-width: 100%;
  font-size: 8px;
  /* skriftstørrelsen på linket under firkanten */
  font-weight: 300;
  letter-spacing: 0.5px;
  /* lidt mere plads mellem bogstaverne i ordet */
  color: #FFF;
  margin: 0;
  padding-top: 0.2px;
  /* padding mellem firkanten og linket */
}

/* Jeg vil sige: først find den rigtige størrelse på din HIFI tekst og få i'erne til at sidde rigtigt. 
Lav derefter boksen firkantet - det er to linjer kode der gør det. 
Arranger så til sidst linket så det passer i skriftstørrelse og vidde ift firkanten. */