
.categoriesList__container {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    background-color: rgb(255, 255, 255);
    grid-gap: 2vw;
    font-family: 'Museo Sans Rounded 700';
    text-transform: uppercase;
    margin: 0 0 2vw 0;
}

.container__products {
    text-align: center;    
    display: grid;
    grid-template-areas:'figImage'
                        'priceUl'
                        'addToCardLink';  
}

.products__figImage {
    justify-self: center;
    grid-area: figImage;
    max-height: 10vw;
    width: 100%;
}

.products__image {
    border: 1px solid rgb(201, 220, 226);
    text-align: center;
    width: 100%;
    height: auto;
}

.products__figcaption {
    -width: 15vw;
    -height: 15vh;
    -margin-left: 2vh;
    /* text-align: center; */
    font-size: 1vw;
    color: rgb(85, 84, 84);
}

.products__priceUl {
    color: rgb(163, 145, 97);
    grid-area: priceUl;
    /* margin-top: 9vh; */
    /* margin-left: 1vw; */
    padding-inline-start: 0;
}

.products__priceUl :nth-child(1) {
    color: rgb(184, 183, 183);
    text-decoration: line-through;   
}

.products__priceList {
    font-family: 'Museo Sans Rounded 300';
    font-size: 1.2vw;
    list-style-type: none;
    color: rgb(163, 145, 97);
    display: inline;
    margin: 0 .3em;
}

.products__addToCardLink {
    grid-area: addToCardLink;
    justify-self: center;
    align-self: end;
    width: 9vw;
    height: 1rem;
    padding: .5vw 1.5vw;
    font-size: 1vw;
    color: rgb(255 , 255, 255);
    background-color: rgb(163, 145, 97);
    text-decoration: none;
}
