body{
    background: #FFF;
}

main{
    margin: 0 2vw;
}

.inputAndIcons{
    grid-area: 1/2/2/3;
}

.frontPage__nav{
    grid-area: 2/1/3/3;
    height: 5vh;
}

#categoryList{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.breadcrumb{
    grid-area: 1/1/2/4;;
}

.venstre_aside_one{
    grid-area: 2/1/3/2;
    padding-bottom: 48px;
}

.venstre_aside_to{
    grid-area: 3/1/4/2;
    padding-bottom: 48px;
}

