html {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
  }


.SoMeBlock__container {
    display: grid;
    grid-template-columns: repeat(minmax(40px, 33.33vw));
    grid-template-areas: 
    "facebook blogger twitter";
    max-width: 100%;
    justify-items: center;
    background-color: aqua; /* Only for demo - remove after final merge */
}
.fa-facebook-square {
    grid-area: facebook;
    font-size: 15.625rem;
    padding: 141px 0;
    color: white;
}
.fa-blogger {
    grid-area: blogger;
    font-size: 15.625rem;
    padding: 141px 0;
    color: white;
}
.fa-twitter-square {
    grid-area: twitter;
    font-size: 15.625rem;
    padding: 141px 0;
    color: white;
}