@charset "UTF-8";

/* CSS Document */

body {
    background-color: #000;
}

#photo {
    max-width: 100%;
    height: auto;
    place-self: center;
}

.image__container {
    place-self: center;
    grid-column: 3/7;
}

#gallery__container {
    margin: 0 auto;
    background-color: #fff;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    max-width: 1200px;
}

.gallery__quickView {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    padding: 2em 0 2em 0;
}

.product__name {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    transform: translate(4%, 30%);
    color: #c0ab9f;
    font-size: 1.5rem;
    font-family: 'Museo Sans Rounded 300';
    font-style: normal;
    font-weight: normal;
    src: local('Museo Sans Rounded 300'), url('MuseoSansRounded300.woff') format('woff');
}

.arrow {
    font-size: 5vw;
    color: #c0ab9f;
}

.arrow.right {
    justify-self: end;
    align-self: center;
    margin-right: 4vw;
    grid-column: 8;
}

.arrow.left {
    justify-self: start;
    align-self: center;
    margin-left: 4vw;
}