.frontPageheader {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    margin: 0;
    padding: 0;
    font-family: 'Museo Sans Rounded 300';
    text-transform: uppercase;
}

.frontPage__icons {
    grid-row: 1/2;
    grid-column: 1/-1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.frontPage__nav {
    background-color: #000;
    grid-template-columns: 1fr auto 1fr;
    display: grid;
    border-top: 1px solid #A39161;
}

.navLink,
.navIcons {
    list-style: none;
    font-size: 12px;
}

.frontPage__navLinks {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-column: 2/3;
    place-items: center;
    padding: 0;
}

.frontPage__navLinks a {
    text-decoration: none;
    color: #fff;
}

.frontPage__navLinks a:hover {
    color: #A39161;
}

.navIcons {
    margin-right: 40px;
    font-size: 1.5rem;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    color: transparent;
}

.navIcons:last-child {
    margin-right: 10px;
}

.navIcons:last-child {
    -webkit-text-stroke-width: 0;
    -webkit-text-stroke-color: #000;
}

.subscribeBtn {
    background-color: #1591e6;
    font-family: 'Museo Sans Rounded 300';
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 3px;
    margin-bottom: 8px;
}

.subscribeBtn span {
    color: rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 550px) {
    .frontPage__navLinks {
        grid-template-columns: 1fr;
    }
    .navLink {
        font-size: 1rem;
    }
    .frontPageheader {
        grid-template-rows: 1fr 3fr;
    }
}