@import "/assets/css/fonts.css";
@import "/assets/css/call-to-action_hifiFrontpage.css";
@import "/assets/css/hifiFrontpage__header.css";
@import "/assets/css/hifiFrontpage__headerMedNavbar.css";
@import "/assets/css/hifiFrontpage__newsBlock.css";
@import "/assets/css/hifiFrontpage__galleryblock.css";
@import "/assets/css/hifiFrontpage__SoMeBlock.css";
@import "/assets/css/footer_hifiFrontpage.css";
body {
    font-family: 'Museo Sans Rounded 500';
    font-style: normal;
    font-weight: normal;
    overflow-x: hidden;
}