.buttons{
    font-family: 'Museo Sans Rounded 500';
    font-weight: 500;
    text-transform: uppercase;
    max-width: 60vw;
    display: flex;
    flex-wrap: wrap;
}

.buttons__link{
    color: #FFF;
    background: #A39161;
    text-decoration: none;
    font-size: 0.8rem;
    margin: 0.15rem;
    padding: 0.6rem 1rem;
    white-space: nowrap;
}

/* ikke responsive ud over flex-wrap - skal jeg lave et par media queries? */