body{
    background: #000;
}
/* indset baggrund for at se logoet, med mindre du indsætter det i dit eget arbejde */

.logo{
    font-family: 'Museo Sans Rounded 500';
    font-weight: 500;
}

.logo__largeText{
    max-width: 40vw; /* vidden på firkanten */
    text-transform: uppercase;
    font-size: 10vw; /* skriftstørrelsen på HIFI */
    border: 2px solid #FFF;
    color: #FFF;
    padding-bottom: 1.2vw; /* padding under HIFI */
    padding-left: 3vw; /* padding til venstre for HIFI */
}

.logo__largeText p:first-of-type{
    margin: 0;
    padding-top: 21vw; /* højden på firkanten */
    letter-spacing: 1.8vw; /* hvor langt i'et er fra h'et */
    line-height: 8vw;
}

.logo__largeText p:last-of-type{
    margin: 0;
    letter-spacing: 4.1vw; /* hvor langt i'et er fra f'et */
}

.logo__websiteLink{
    text-transform: uppercase;
    max-width: 100%;
    font-size: 3.66vw; /* skriftstørrelsen på linket under firkanten */
    font-weight: 600;
    letter-spacing: 0.65vw; /* lidt mere plads mellem bogstaverne i ordet */
    color: #FFF;
    margin: 0;
    padding-top: 3vw; /* padding mellem firkanten og linket */
}

/* Jeg vil sige: først find den rigtige størrelse på din HIFI tekst og få i'erne til at sidde rigtigt. 
Lav derefter boksen firkantet - det er to linjer kode der gør det. 
Arranger så til sidst linket så det passer i skriftstørrelse og vidde ift firkanten. */