body{
    background: #000;
}
/* indset baggrund for at se logoet, med mindre du indsætter det i dit eget arbejde */

.logo{
    font-family: 'Museo Sans Rounded 600';
    font-weight: 600;
}

.logo__largeText{
    max-width: 40vw;
    text-transform: uppercase;
    font-size: 10vw;
    border: 2px solid #FFF;
    color: #FFF;
    padding-bottom: 1.2vw;
    padding-left: 3vw;
}

.logo__largeText p:first-of-type{
    margin: 0;
    padding-top: 21vw;
    letter-spacing: 1.8vw;
    line-height: 8vw;
}

.logo__largeText p:last-of-type{
    margin: 0;
    letter-spacing: 2.9vw;
}

.logo__websiteLink{
    text-transform: uppercase;
    max-width: 100%;
    font-size: 3.66vw;
    font-weight: 600;
    letter-spacing: 0.5vw;
    color: #FFF;
    margin: 0;
    padding-top: 3vw;
}