* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.newsBlock__container {
    height: 40vh;
    background-image: url("/img/newsBlockBackground.jpg");
    background-size: cover;
    text-align: center;
}

.newsBlock__text {
    padding: 1.5em;
    color: white;
    text-transform: uppercase;
    font-family: 'Museo Sans Rounded 300';
    font-size: 3em;
}