.form__container{
    max-width: 100%;
    border: 1px solid #D1D1D1;
    border-collapse: collapse;
}
.title__container { /* finish + required field txt */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}

.title__text{ /* "finish" */
    margin-left: 1.66em;
}

.title__text--red {
    color: red;
}
.title__text--redPadding{ /* Required fields */
    color: red;
    padding-right: 1.66em;
    font-size: 1vw;
}
.form__radio--greyBg{
    background-color: #E1E1E1;
    max-width: 250px;
    padding: 0.66em;
    margin-bottom: 13px;
    margin-left: 1.66em;
}
.form__radio--greyBg2 {
    background-color: #E1E1E1;
    max-width: 250px;
    padding: 0.66em;
    margin-left: 1.66em;
}

.form__qtyContainer{ /* Qty text input felt + køb knapper */
    background-color: #E1E1E1;
    margin-top: 2rem;
    border: 1px solid #D1D1D1;
    border-collapse: collapse;
    padding-top: 1rem;
}
.form__qtyContainer>input{
    height: 2.2rem;
    width: 2rem;
    text-align: center;
}
.form__qty--color{ 
    color: #A39161;
    padding-left: 1.66em;
}

.form__button--addToCart{
    background-color: #A39161;
    border: none;
    color: white;
    width: 170px;
    height: 40px;
    text-decoration: none;
    cursor: pointer;
    margin-top: 1%;
    font-size: large;
    font-family: 'Museo Sans Rounded 500';
}

.checkout__text--color{ /* -OR- */
    color: #A39161;
    margin-left: 10.13rem;
}

.form__payBtn>img {
    max-width: 150px;
    margin-left: 6.70rem;
    margin-bottom: 2%;
    margin-top: -0.33%;
}

.form__stroke{
    border: 1px solid #E1E1E1;
} 