body {
  margin: 0;
}
.reklameBanner__details, .reklameBanner__sale {
  grid-row: 1/-1;
  color: #fff;
  align-self: center;
  margin: 0;
  text-transform: uppercase;
  font-family: 'Museo Sans Rounded 900';
}
.reklameBanner img {
  max-width: 100vw;
  height: 100%;
  overflow: hidden;
  grid-column: 1/-1;
  grid-row: 1/-1;
}
.reklameBanner {
  margin-left: 2vw;
  margin-right: 2vw;
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 1fr;
}
.reklameBanner__sale {
  grid-column: 2/3;
  font-size: 6vw;
  margin-left: 2vw;
}
.reklameBanner__details {
  grid-column: 1/2;
  font-size: 3vw;
  justify-self: end;
  line-height: 2.2rem;
}
.reklameBanner__details>span {
  font-size: 2.04vw;
}
@media only screen and (max-width: 1050px) {
  .reklameBanner__details {
    line-height: 1.3rem;
  }
}
@media only screen and (max-width: 900px) {
  .reklameBanner__details {
    line-height: 1rem;
  }
}
@media only screen and (max-width: 500px) {
  .reklameBanner__details {
    line-height: 0.6rem;
  }
}