body {
    background-color: black;
}
.shopFrontpage{
    max-width: 60vw; /* kommenter ud ved merge og sæt  */
    font-family: 'Museo Sans Rounded 500';
    font-weight: 500;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    margin: 0 auto;
}

.shopFrontpage>article{
    display: grid;
    grid-template: auto / 1fr;
}

.shopFrontpage img{
    grid-area: 1/1/2/2;
    max-width: 100%;
    height: auto;
}

.shopFrontpage a{
    grid-area: 1/1/2/2;
    color: #FFF;
    align-self: center;
    justify-self: center;
    text-transform: uppercase;
    text-align: center;
}

.shopFrontpage__shopNow{
    background: #A39161;
    width: 100%;
    height: 100%;
}

.shopNow__link{
    font-family: 'Museo Sans Rounded 700';
    font-weight: 700;
    text-align: center;
    background: #685225;
    text-decoration: none;
    padding: 0.7rem 1.2rem;
}

@media screen and (max-width: 950px){
    .shopFrontpage{
        grid-template-columns: repeat(2, 50%);
        max-width: 80vw; /* kommenter ud ved merge og sæt  */
        font-size: 3vw;
    }
}

@media screen and (max-width: 450px){
    .shopFrontpage{
        grid-template-columns: 1fr;
        font-size: 7vw;
    }

    .shopFrontpage__shopNow{
        background: #A39161;
        width: 80vw;
        height: 40vw;
    }
}