
@import "productPage__checkout.css";
@import "gallery_thumbnails.css";
@import "knapper.css";
@import "breadcrumb.css";
@import "boks_med_tekst.css";
@import "additionalinfo.css";

body {
  font-family: 'Museo Sans Rounded 500';
  font-style: normal;
  font-weight: normal;
  src: local('Museo Sans Rounded 500'), url('MuseoSansRounded500.woff') format('woff');
}