
@import "/assets/css/productPage__checkout.css";
@import "/assets/css/gallery_thumbnails.css";
@import "/assets/css/knapper.css";
@import "/assets/css/breadcrumb.css";
@import "/assets/css/boks_med_tekst.css";
@import "/assets/css/additionalinfo.css";
@import "/assets/css/headerCategoryList.css";
@import "/assets/css/categoryHeaderLogo.css";
@import "/assets/css/singleProduct.css";
@import "/assets/css/reklamebanner.css";
@import "/assets/css/call_us.css";
@import "/assets/css/productPage_footer.css";
@import "/assets/css/singleproduct_navbar.css";

body {
  font-family: 'Museo Sans Rounded 500';
  font-style: normal;
  font-weight: normal;
  src: local('Museo Sans Rounded 500'), url('MuseoSansRounded500.woff') format('woff');
}